@mixin text-head
    text-align: center
    font: 2em "Helvetica Narrow"
    margin-bottom: 0
@mixin flex-column
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around

*
    box-sizing: border-box

.App
    height: 100vh
    @include flex-column
    background-color: navajowhite

.card
    display: flex
    width: 40%
    height: 40vh
    border-radius: 8px
    overflow: hidden

.card .profile
    width: 30%
    @include flex-column
    z-index: 1

.card .profile img
    border: solid 2px rgba(0,0,0,0.2)
    border-radius: 50%
    width: 70%

.card .profile div
    background-color: rgba(0,0,0,0.1)
    color: white
    padding: 3px 10px
    border-radius: 10px
    font-family: "Times New Roman"
    font-size: 0.7em

.card .more
    position: relative
    width: 70%
    height: 100%

.information
    background-color: white
    padding: 5px 10px
    position: absolute
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    line-height: 1.7em
    font-family: "Arial"
    .name2
        @include text-head


.card .information .text-bottom
    align-self: flex-end

.info-slider
    border-left: solid 1px rgba(0,0,0,0.1)
    padding: 5px
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    position: absolute
    transform: translateX(-100%)
    transition: transform 0.3s ease-in-out
    .name1
        @include text-head

    .grid-box
        display: grid
        height: 70%
        justify-content: space-between
        align-content: space-between
        grid-template-columns: 20% 20% 20% 20%
        grid-template-areas: "A A B B""C D E F"
        div
            text-align: center
            font: 1.1em "Calibri Light"

        .item1
            grid-area: A
            text-align: left

        .item2
            grid-area: B
            text-align: right

        .item3
            grid-area: C

        .item4
            grid-area: D

        .item5
            grid-area: E

        .item6
            grid-area: F

        p
            margin: 0 auto
            font-weight: bold
            font-size: 0.8em

        .icon
            font-size: 40px

        span:last-child
            display: block
            font-weight: bold
            font-size: 1.4em

.slideShow
    transform: translateX(0)

@media screen and (max-width: 1100px)
    .card
        width: 50%
@media screen and (max-width: 992px)
    .card
        width: 60%
@media screen and (max-width: 778px)
    .card
        width: 70%
@media screen and (max-width: 680px)
    .card
        width: 80%
@media screen and (max-width: 600px)
    .card
        width: 85%
        height: 45vh
        flex-direction: column
        .profile
            width: 100%
            height: 40%
            flex-direction: row
            img
                width: 25%
        .more
            width: 100%
            height: 60%
            .information
                line-height: 1.3em
                .name2
                    margin-top: 0
            .info-slider .grid-box
                div
                    font-size: 0.9em
                .icon
                    font-size: 30px
@media screen and (max-width: 488px)
    .card
        width: 90%
        .profile
            img
                width: 30%
        .more .info-slider .grid-box .icon
            font-size: 25px



